{% extends "base.html" %}
{% block content %}
    <section id = "edit-model">
        <div class = "edit-model-title-container">
            <h1>Edit Model -- {{ edited_model.name }}</h1>
        </div>
        <form action = "{{ url_for('editModel', maker_id = maker_id, model_id = model_id) }}", method = 'POST'>
            <div class = "edit-model-rename-container">
                <p class = "edit-model-rename">Model Name:</p>
                <input type = 'text' size = '20' name = 'model_name' placeholder = '{{ edited_model.name }}'>
            </div>
            <div class = "edit-model-description-container">
                <p class = "edit-model-description">Model Description:</p>
                <input type = 'text' size = '50' name = 'model_description' placeholder = '{{ edited_model.description }}'>
            </div>
            <div class = "edit-model-photo-container">
                <p class = "edit-model-photo">Model Photo:</p>
                <input type = 'url' maxlength = '250' name = 'model_photo' placeholder = '{{ edited_model.photo }}'>
            </div>
            <input type = 'submit' value = 'Edit'>
            <a href = "{{ url_for('showModels', maker_id = maker_id) }}">Cancel</a>
        </form>
    </section>
{% endblock %}